@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/*testing*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #333;
}
.flex{
    display: flex;
    align-items: center;
}
